@charset "UTF-8";

body {
    background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    font-family: 'Courier New', Courier, monospace;
}

main {
    border: 1px solid black;
}

img.phone {
    display: none;
}
img.tablet {
    display: none;
}
img.print {
    display: block;
}
img.pc {
    display: none;
}
img.tv {
    display: none;
}